.angular-google-map-container {
	height: 500px;
}

body {
	display:block;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;

}
ng-map {
	height:500px;
	max-width: 900}

	.pac-container {
		z-index:1051 !important;
	}