.angular-google-map-container {
	height: 500px;
}

body {
	display:block;
	max-width: 900px;
	margin-right: auto;
	margin-left: auto;

}
.navbar{
	margin: auto;
	max-width: 900px;
}
ng-map {
	height:500px;
	max-width: 900px;
	margin-top: 50px;
}

.pac-container {
	z-index:1051 !important;
}

.glyphicon-star{
	color: #d34615;
}
.glyphicon-star-empty{
	color: #d34615;
}