<body>
	<navigation popover-placement='bottom-left' popover-is-open="vm.alertPopoverVisible" uib-popover-html="vm.alertMessage"></navigation>



	<ng-map ng-show="vm.isLoggedIn" center="Helsinki Finland" zoom="10" on-click="vm.mapClick($event)" default-style="false">
		<marker class="parkingspot-marker" ng-repeat="spot in vm.parkingspots"
		id="{{spot._id}}"
		position="{{spot.coords[1]}},{{spot.coords[0]}}"
		title="{{spot.address}}"
		on-click="vm.showInfoWindow()"
		icon="{
			url:'images/parkingspot.png'
		}"></marker>
		<marker class="user-marker" ng-show="vm.userMarker"
			id="user-marker"
			position="{{vm.userMarker.coords[1]}},{{vm.userMarker.coords[0]}}"
			title="User"
			animation="DROP"
			on-click="vm.showUserInfoWindow()"
			icon="{
				url:'images/user.png'
			}"></marker>

	<shape id="circle" name="circle" centered="true"
	stroke-color='#FF0000' stroke-opacity="0" stroke-weight="0"
	center="{{vm.circleCenter}}" radius="{{vm.searchRadius}}"></shape>

 <directions ng-show="vm.directionShow"
 	  id="directionToSpot"
      draggable="true"
      suppress-markers="true"
      travel-mode="DRIVING"
      origin="{{vm.directionOrigin}}"
      destination="{{vm.directionDestination}}">
    </directions>

	<info-window id="userinfo">
		<span>You are here</span>
	</info-window>

	<info-window id="info">
		<div class="container" style="min-width:200px; max-width:300px ">
			<p style="max-width: 200px">{{vm.infoParkingSpot.address}}</p>
			<a style="display: block; margin-bottom: 5px;" ng-show="vm.userMarker && !vm.directionDestination" ng-click="vm.showDirections(vm.clickedMarkerId)">Show directions</a>
			<a style="display: block; margin-bottom: 5px;" ng-show="vm.directionDestination" ng-click="vm.hideDirections()">Hide directions</a>
			<div>Rating: 
				<span ng-hide="vm.infoCurrentRating == 'No ratings yet.'">
					<span ng-show="vm.infoCurrentRating >= 1" class="glyphicon glyphicon-star"></span><span ng-hide="vm.infoCurrentRating >= 1" class="glyphicon glyphicon-star-empty"></span>
					<span ng-show="vm.infoCurrentRating >= 2" class="glyphicon glyphicon-star"></span><span ng-hide="vm.infoCurrentRating >= 2" class="glyphicon glyphicon-star-empty"></span>
					<span ng-show="vm.infoCurrentRating >= 3" class="glyphicon glyphicon-star"></span><span ng-hide="vm.infoCurrentRating >= 3" class="glyphicon glyphicon-star-empty"></span>
					<span ng-show="vm.infoCurrentRating >= 4" class="glyphicon glyphicon-star"></span><span ng-hide="vm.infoCurrentRating >= 4" class="glyphicon glyphicon-star-empty"></span>
					<span ng-show="vm.infoCurrentRating >= 5" class="glyphicon glyphicon-star"></span><span ng-hide="vm.infoCurrentRating >= 5" class="glyphicon glyphicon-star-empty"></span>
				</span>
				<span ng-show="vm.infoCurrentRating == 'No ratings yet.'">{{vm.infoCurrentRating}}</span>
			</div>
			<br>
			<div>

				<div id="infoTimeSelect">
					<div class="timeSelectButton" ng-click="vm.previousTime()"><span class="	glyphicon glyphicon-chevron-left"></span></div>
					<input id="timeSelectionFormInput" style="background-color: white; width: 105px; display: inline-block;" type="text" ng-disabled="true" class="form-control" ng-model="vm.infoTimeSelect"><div class="timeSelectButton" ng-click="vm.nextTime()"><span class="glyphicon glyphicon-chevron-right"></span></div>
				</div>

			</div>
			<br>
			<!-- NEWEST REVIEW -->
			<div class="newestReview" ng-show="vm.newestReview">
			<p>Most recent review:</p>
				<blockquote>
					<span>
						<span ng-show="vm.newestReview.rating >= 1" class="glyphicon glyphicon-star"></span><span ng-hide="vm.newestReview.rating >= 1" class="glyphicon glyphicon-star-empty"></span>
						<span ng-show="vm.newestReview.rating >= 2" class="glyphicon glyphicon-star"></span><span ng-hide="vm.newestReview.rating >= 2" class="glyphicon glyphicon-star-empty"></span>
						<span ng-show="vm.newestReview.rating >= 3" class="glyphicon glyphicon-star"></span><span ng-hide="vm.newestReview.rating >= 3" class="glyphicon glyphicon-star-empty"></span>
						<span ng-show="vm.newestReview.rating >= 4" class="glyphicon glyphicon-star"></span><span ng-hide="vm.newestReview.rating >= 4" class="glyphicon glyphicon-star-empty"></span>
						<span ng-show="vm.newestReview.rating >= 5" class="glyphicon glyphicon-star"></span><span ng-hide="vm.newestReview.rating >= 5" class="glyphicon glyphicon-star-empty"></span>
					</span>
					<p style="max-height:50px; overflow: auto" >{{vm.newestReview.description}}</p>
					<small><p>Author: {{vm.newestReview.author.name}}</p> <cite title="Source Title"><p>On {{vm.newestReview.time}}</p></cite></small>

				</blockquote>
				
			</div>
			<div class="newestReviewError" ng-hide="vm.newestReview || vm.infoParkingSpot.reviews.length == 0">
				<h3 ng-hide="vm.newestReview || vm.infoParkingSpot.reviews.length == 0" >No reviews for the selected time span.</h3>
			</div>

			<div class="newestReviewError" ng-show="vm.infoParkingSpot.reviews.length == 0">
				<h3>No reviews for the parking spot.</h3>
			</div>

			<a style="display: block" ng-show="vm.infoParkingSpot.reviews.length > 0"#" ng-click="vm.showAllReviews()">Show all reviews</a>
			<button class="btn btn-primary" ng-click="vm.addReview(vm.clickedMarkerId)">Leave a review!</button>
		</div>
	</info-window>
	<info-window id="newSpotInfo">
		<div class="container" style="width:250px">
			<p>No parking spot found at this location, are you sure you want to leave a review here?</p>

			<a href="#" class="btn btn-success btn-sm" ng-click="vm.createNewSpot()">Add review</a>
			<a href="#" class="btn btn-danger btn-sm" ng-click="vm.closeNewSpotInfo()">Select another spot</a>
			
		</div>
	</info-window>

</ng-map>

<div id="map-blocked" ng-hide="vm.isLoggedIn">
	<div id="map-block-container">
		<h3> You are not logged in. 
		Please log in to enable the map.</h3>
	</div>
</div>

<div id="alertContainer" ng-show="vm.alertsVisible">
	<div id="alertContainerContent">
		{{vm.alertContent}}
	</div>
	<div id="alertContainerCloseButton">
		<button class="btn btn-sm exit-btn" ng-click="vm.hideAlerts()"><span class="glyphicon glyphicon glyphicon-remove"></span></button>
	</div>
</div>

<div class="btn-group btn-group-justified">
	<a href="#" class="btn btn-primary" ng-click="vm.nearCurrentLocation()">Find nearby</a>
	<a href="#" class="btn btn-primary" ng-click="vm.showAll()">Find all</a>
	<a href="#" class="btn btn-primary" ng-click="vm.showResolverModal()">Near address</a>
	<a href="#" class="btn btn-primary" ng-click="vm.addReview()">Add review</a>
</div>
</body>
<br>

<footer> <p>Parkmania™ by team Kiwi <p></footer>